<!-- <div class="d-flex flex-column flex-center flex-column-fluid">
  <div class="d-flex flex-column flex-center text-center p-10">
    <div class="card card-flush  w-lg-650px py-5">
      <div class="card-body py-15 py-lg-20">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->

<div class="d-flex flex-column flex-lg-row flex-column-fluid">

  <!--begin::Body-->
  <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 order-1 order-lg-1">
    <!--begin::Form-->
    <div class="d-flex flex-center flex-column flex-lg-row-fluid" style="max-width: 500px !important; margin-left: auto; margin-right: auto;">
      <!--begin::Wrapper-->
        <router-outlet></router-outlet>
      <!--end::Wrapper-->
    </div>
    <!--end::Form-->

    <!--begin::Footer-->
    <div class="d-flex flex-center flex-wrap px-5" *ngIf="false">
      <!--begin::Links-->
      <div class="d-flex fw-semibold text-primary fs-base">
        <a href="#" class="px-5" target="_blank">Terms</a>

        <a href="#" class="px-5" target="_blank">Plans</a>

        <a href="#" class="px-5" target="_blank">Contact Us</a>
      </div>
      <!--end::Links-->
    </div>
    <!--end::Footer-->
  </div>
  <!--end::Body-->

  <div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-2 order-lg-2" *ngIf="false"
    [ngStyle]="{'background-image': 'url(./assets/media/misc/auth-bg.png)'}">
    <div class="d-flex flex-column flex-center py-15 px-5 px-md-15 w-100">
      <img class="mx-auto w-100 w-md-50 w-xl-500px mb-10 mb-lg-20" src="./assets/media/misc/intro.webp" alt="" />
    </div>
  </div>
</div>
