<!--begin::Row-->
  <!--begin::Col-->
  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <app-recommender-summary cssClass="h-md-50 mb-5 mb-xl-10" color="#F1416C"
      img="./assets/media/patterns/vector-1.png"></app-recommender-summary>

      <app-recommendations-latest class="card card-xxl-stretch mb-5 mb-xl-8"></app-recommendations-latest>
  </div>
  <!--end::Col-->

  <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
        <div class="card mb-5 mb-xl-10" style="background-color: #FFF7C2 !important;">
          <div id="kt_account_profile_details" class="collapse show">
              <div class="card-body border-top">
                <i class="fa-solid fa-lock"></i>
                Paylaştığınız telefon numaraları uçtan-uca şifrelenir.
                İşletmenin kendisi ve sizin dışınızda kimse (Recommed dahil) bu telefon numaralarını göremez.
              </div>
          </div>
        </div>
    </div>
  </div>

<!--end::Row-->

