<!--begin::Card widget 20-->
<div class="card card-flush bgi-no-repeat bgi-size-contain bgi-position-x-end" [ngClass]="cssClass"
  [ngStyle]="{'background-color': color, 'background-image': 'url(' + img + ')'}" *ngIf="summary?.recommendationCount > 0">
  <!--begin::Header-->
  <div class="card-header pt-5">
    <!--begin::Title-->
    <div class="card-title d-flex flex-column">
      <!--begin::Amount-->
      <span class="fs-2hx fw-bold text-white me-2 lh-1 ls-n2">{{summary.salesAmount ? summary.salesAmount : '0'}}</span>
      <!--end::Amount-->

      <!--begin::Subtitle-->
      <span class="text-white opacity-75 pt-1 fw-semibold fs-6">
        Toplam Satış Tutarı
      </span>
      <!--end::Subtitle-->
    </div>
    <!--end::Title-->
  </div>
  <!--end::Header-->

  <!--begin::Card body-->
  <div class="card-body d-flex align-items-end pt-0">
    <!--begin::Progress-->
    <div class="d-flex align-items-center flex-column mt-3 w-100">
      <div class="d-flex justify-content-between fw-bold fs-6 text-white opacity-75 w-100 mt-auto mb-2">
        <span>{{summary.soldCount}} Müşteriye Dönüşüm</span>
        <span>{{summary.recommendationCount}} Referans</span>
      </div>

      <div class="h-8px mx-3 w-100 bg-white bg-opacity-50 rounded">
        <div class="bg-white rounded h-8px" role="progressbar" [style.width]="percentage" ></div>
      </div>
    </div>
    <!--end::Progress-->
  </div>
  <!--end::Card body-->
</div>
<!--end::Card widget 20-->
