<!-- begin::Header -->

<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Tavsiyeleriniz</span>
    <span class="text-muted mt-1 fw-bold fs-7" *ngIf="false">Son tavsiyeleriniz</span>
  </h3>
  <div
    class="card-toolbar"
    data-bs-toggle="tooltip"
    data-bs-placement="top"
    data-bs-trigger="hover"
    title="Click to add a user"
  >
    <a href="#" class="btn btn-sm btn-light-primary" *ngIf="false">
      <app-keenicon name="plus" class="fs-3"></app-keenicon>
      Yeni
    </a>
  </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table
      class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
    >
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted">
          <th class="min-w-150px">Tavsiye</th>
          <th class="min-w-120px">Aşama</th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
        <tr *ngFor="let item of recommendations" (click)="openRecommendationHistoryModal(item.uid)">

          <td>
            <div class="d-flex align-items-center">
              <div class="symbol symbol-45px me-5">
                <img src="./assets/media/avatars/blank.png" alt="" />
              </div>
              <div class="d-flex justify-content-start flex-column">
                <span class="text-dark fw-bolder fs-6">
                  {{item.name}}
                </span>
                <span class="text-muted fw-bold text-muted d-block fs-7">
                  {{item.createdAtFormatted}}
                </span>
              </div>
            </div>
          </td>
          <td>
            <ng-container [ngSwitch]="item.status">
              <span *ngSwitchCase="'ne'" class="badge badge-light-warning fs-8 fw-bolder">Yeni</span>
              <span *ngSwitchCase="'re'" class="badge badge-light-danger fs-8 fw-bolder">Reddetti</span>
              <span *ngSwitchCase="'ca'" class="badge badge-light-primary fs-8 fw-bolder">Arandı</span>
              <span *ngSwitchCase="'ta'" class="badge badge-light-danger fs-8 fw-bolder">Görüşüldü</span>
              <span *ngSwitchCase="'ve'" class="badge badge-light-primary fs-8 fw-bolder">Doğrulandı</span>
              <span *ngSwitchCase="'cl'" class="badge badge-light-danger fs-8 fw-bolder">İptal Edildi</span>
              <span *ngSwitchCase="'sa'" class="badge badge-light-success fs-8 fw-bolder">Yararlandı</span>
            </ng-container>
          </td>
        </tr>
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
<!-- begin::Body -->

<app-modal #modalRecommendationHistory [modalConfig]="modalConfigRecommendationHistory">
  <!-- begin::Body-->
  <div class="card-body pt-5">
    <!-- begin::Timeline-->
    <div class="timeline-label">
      <!-- begin::Item-->
      <div class="timeline-item" *ngFor="let item of recommendationActivities">
        <!-- begin::Label-->
        <div class="timeline-label fw-bolder text-gray-800 fs-6">
          {{item.date}}
          <div class="timeline-label fw-normal fs-8 text-muted">{{item.time}}</div>
        </div>
        <!-- end::Label-->
        <!-- begin::Badge-->
        <div class="timeline-badge">
          <i class="fa fa-genderless text-warning fs-1" *ngIf="item.type === 'ne'"></i>
          <i class="fa fa-genderless text-primary fs-1" *ngIf="item.type === 'ca' || item.type === 've' || item.type === 'ta'"></i>
          <i class="fa fa-genderless text-danger fs-1" *ngIf="item.type === 'cl' || item.type === 're'"></i>
          <i class="fa fa-genderless text-success fs-1" *ngIf="item.type === 'sa'"></i>
        </div>
        <!-- end::Badge-->
        <!-- begin::Text-->
        <div class="fw-bolder timeline-content ps-3">
          {{item.description}}
          <div class="fw-normal fs-8 text-muted">
            {{item.detail}}
          </div>
        </div>
        <!-- end::Text-->
      </div>
      <!-- end::Item-->
    </div>
    <!-- end::Timeline-->
  </div>
  <!-- end: Card Body-->

</app-modal>
