<!-- begin::Header -->

<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">{{
      this.appService.role === "r"
        ? "Yaptığınız Tavsiyeler"
        : "Gelen Tavsiyeler"
    }}</span>
    <span class="text-muted mt-1 fw-bold fs-7" *ngIf="false"
      >Tavsiyeye dokunarak detay durumu takip edebilir ve işlem
      yapabilirsiniz</span
    >
  </h3>
  <div
    class="card-toolbar"
    data-bs-toggle="tooltip"
    data-bs-placement="top"
    data-bs-trigger="hover"
    title="Click to add a user"
  >
    <span class="btn">
      <i class="fa-solid fa-rotate" (click)="loadRecommendations()"></i>
    </span>
  </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table
      class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
    >
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted">
          <th class="min-w-150px">Tavsiye</th>
          <th class="min-w-120px">Aşama</th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
        <tr
          *ngFor="let item of recommendations"
          (click)="openRecommendationActivitiesModal(item.uid)"
        >
          <td>
            <div class="d-flex align-items-center">
              <div class="symbol symbol-45px me-5">
                <img src="./assets/media/avatars/blank.png" alt="" />
              </div>
              <div class="d-flex justify-content-start flex-column">
                <span class="text-dark fw-bolder fs-6">
                  {{ item.name }}
                </span>
                <span class="text-muted fw-bold text-muted d-block fs-7">
                  {{ item.createdAtFormatted }}
                  <ng-container *ngIf="this.appService.role !== 'r'">
                    tarihinde {{item.by?.createdBy.name}} tarafından
                  </ng-container>
                </span>
              </div>
            </div>
          </td>
          <td>
            <ng-container [ngSwitch]="item.status">
              <span
                *ngSwitchCase="'ne'"
                class="badge badge-light-warning fs-8 fw-bolder"
                >Yeni</span
              >
              <span
                *ngSwitchCase="'ac'"
                class="badge badge-light-primary fs-8 fw-bolder"
                >Kabul Edildi</span
              >
              <span
                *ngSwitchCase="'re'"
                class="badge badge-light-danger fs-8 fw-bolder"
                >Reddetti</span
              >
              <span
                *ngSwitchCase="'ca'"
                class="badge badge-light-danger fs-8 fw-bolder"
                >İptal Edildi</span
              >
              <span
                *ngSwitchCase="'ta'"
                class="badge badge-light-danger fs-8 fw-bolder"
                >Görüşüldü</span
              >
              <span
                *ngSwitchCase="'ve'"
                class="badge badge-light-primary fs-8 fw-bolder"
                >Doğrulandı</span
              >
              <span
                *ngSwitchCase="'cl'"
                class="badge badge-light-danger fs-8 fw-bolder"
                >İptal Edildi</span
              >
              <span
                *ngSwitchCase="'sa'"
                class="badge badge-light-success fs-8 fw-bolder"
                >Yararlandı</span
              >
            </ng-container>
          </td>
        </tr>
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
<!-- begin::Body -->

<app-modal
  #modalActivities
  [modalConfig]="modalConfigActivities"
>
  <!-- begin::Body-->
  <div class="card-body pt-5">


    <!-- begin::Timeline-->
    <div class="timeline-label">
      <!-- begin::Item-->
      <div class="timeline-item" *ngFor="let item of activities">
        <!-- begin::Label-->
        <div class="timeline-label fw-bolder text-gray-800 fs-6">
          {{ item.date }}
          <div class="timeline-label fw-normal fs-8 text-muted">
            {{ item.time }}
          </div>
        </div>
        <!-- end::Label-->
        <!-- begin::Badge-->
        <div class="timeline-badge">
          <i
            class="fa fa-genderless text-warning fs-1"
            *ngIf="item.type === 'ne'"
          ></i>
          <i
            class="fa fa-genderless text-primary fs-1"
            *ngIf="
              item.type === 'ca' || item.type === 've' || item.type === 'ta' || item.type === 'ac'
            "
          ></i>
          <i
            class="fa fa-genderless text-danger fs-1"
            *ngIf="item.type === 'cl' || item.type === 're'"
          ></i>
          <i
            class="fa fa-genderless text-success fs-1"
            *ngIf="item.type === 'sa'"
          ></i>
        </div>
        <!-- end::Badge-->
        <!-- begin::Text-->
        <div class="fw-bolder timeline-content ps-3">
          {{ item.description }}
          <div class="fw-normal fs-8 text-muted">
            {{ item.detail }}
          </div>
        </div>
        <!-- end::Text-->
      </div>
      <!-- end::Item-->
    </div>
    <!-- end::Timeline-->
  </div>
  <!-- end: Card Body-->
</app-modal>

<app-modal #modalSale [modalConfig]="modalConfigSale">
  <form novalidate="" class="form" id="frmSales" [formGroup]="frmSales">
    <div class="card-body p-3">
      <ng-container *ngIf="hasErrorSales">
        <div class="mb-lg-15 alert alert-danger">
          <div class="alert-text font-weight-bold">
            İşlem yapılamadı. Lütfen formu tamamlayın.
          </div>
        </div>
      </ng-container>

      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6"
          ><span class="required">Hizmet Tutarı</span></label
        >
        <div class="col-lg-8 fv-row">
          <input
            type="number"
            class="form-control form-control-lg form-control-solid"
            formControlName="salesAmount"
          />
          <div class="form-text">
            KDV Hariç, TL
          </div>
        </div>
      </div>
      <div
        class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-9 p-6"
      >
        <div class="d-flex flex-stack flex-grow-1">
          <div class="fw-bold">
            <h4 class="text-gray-800 fw-bolder">Önemli Bilgilendirme</h4>
            <div class="fs-6 text-gray-600">
              Marka Elçisine ödül hakedişi kayıt altına alınacak ve mesajla
              haber verilecektir. Tutarı doğru girdiğinizden emin olun.
              Müşteriye bir mesaj gönderilmeyecektir. Daha fazla bilgi için:
              <a class="fw-bolder" target="_blank" href="#"
                >Kullanım Koşulları</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="form-check form-check-solid fv-row">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="approve"
          value="false"
          id="approve"
        /><label class="form-check-label fw-bold ps-2 fs-6 required" for="approve"
          >Okudum onaylıyorum</label
        >
      </div>
    </div>
  </form>
</app-modal>

<app-modal #modalAccept [modalConfig]="modalConfigAccept">
  <form novalidate="" class="form" id="frmAccept" [formGroup]="frmAccept">
    <div class="card-body p-3">
      <ng-container *ngIf="hasErrorSales">
        <div class="mb-lg-15 alert alert-danger">
          <div class="alert-text font-weight-bold">
            İşlem yapılamadı. Lütfen formu tamamlayın.
          </div>
        </div>
      </ng-container>

      <div
        class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-9 p-6"
      >
        <div class="d-flex flex-stack flex-grow-1">
          <div class="fw-bold">
            <h4 class="text-gray-800 fw-bolder">Önemli Bilgilendirme</h4>
            <div class="fs-6 text-gray-600">
              Tavsiyeyi kabul ettiğinizde bu tavsiyeye eğer satış yapılırsa Marka Elçisi bir hakediş elde eder.
              Lütfen telefon numarasını ve ismi kendi kayıtlarınızda kontrol edin. Aktif görüştüğünüz bir kişiyse kabul etmeyin.
              Yaptığınız işlemden Marka Elçisi özel bildirimle haberdar edilir.
              Daha fazla bilgi için:
              <a class="fw-bolder" target="_blank" href="#"
                >Kullanım Koşulları</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="form-check form-check-solid fv-row">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="approve"
          value="false"
          id="approve"
        /><label class="form-check-label fw-bold ps-2 fs-6 required" for="approve"
          >Okudum onaylıyorum</label
        >
      </div>
    </div>
  </form>
</app-modal>

