<!-- begin::Header -->

<div
  class="card-header border-0 pt-5"
  *ngIf="this.recommendations?.length"
  >
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-6 mb-1">{{
        this.appService.role === "o"
        ? "Referanslar"
        : "Referanslarınız"
      }} ({{this.recommendations.length}})</span>
    </h3>
    <div
      class="card-toolbar"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover"
    >
      <span class="btn">
        <i class="fa-solid fa-rotate" (click)="loadRecommendations()"></i>
      </span>
    </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-0">
  <div class="text-muted mt-1 fw-bold fs-7 mt-9 mb-9" *ngIf="!this.recommendations?.length">
    <ng-container *ngIf="this.appService.role === 'r'">

    </ng-container>
    <ng-container *ngIf="this.appService.role === 'u' || this.appService.role === 'o'">
      Henüz referans programıyla başvuran yok. Sizden memnun olan eski müşterilerinizi Paylaş düğmesiyle programa davet edebilirsiniz!
    </ng-container>
  </div>

  <!-- begin::Table container -->
  <div class="table-responsive" *ngIf="this.recommendations?.length">
    <!-- begin::Table -->
    <table
      class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
    >
      <!-- begin::Table head -->
      <thead>

      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
        <tr
          *ngFor="let item of recommendations"
          (click)="openRecommendationActionsModal(item.uid)"
        >
          <td>
            <div class="d-flex align-items-center">
              <div class="symbol symbol-45px me-5">
                <img src="./assets/media/avatars/blank.png" alt="" />
              </div>
              <div class="d-flex justify-content-start flex-column">
                <span class="text-dark fw-bolder fs-6">
                  {{ item.name }}
                </span>
                <div>
                  <ng-container [ngSwitch]="item.status">
                    <span
                      *ngSwitchCase="'recommendation'"
                      class="badge badge-light-warning fs-8 fw-bolder"
                      >Yeni</span
                    >
                    <span
                      *ngSwitchCase="'recommendation-accept'"
                      class="badge badge-light-primary fs-8 fw-bolder"
                      >Kabul Edildi</span
                    >
                    <span
                      *ngSwitchCase="'recommendation-decline'"
                      class="badge badge-light-danger fs-8 fw-bolder"
                      >İptal Edildi</span
                    >
                    <span
                      *ngSwitchCase="'recommendation-reject'"
                      class="badge badge-light-danger fs-8 fw-bolder"
                      >Reddetti</span
                    >
                    <span
                      *ngSwitchCase="'recommendation-validate'"
                      class="badge badge-light-primary fs-8 fw-bolder"
                      >Doğrulandı</span
                    >
                    <span
                      *ngSwitchCase="'recommendation-invalidate'"
                      class="badge badge-light-danger fs-8 fw-bolder"
                      >Geçersiz</span
                    >
                    <span
                      *ngSwitchCase="'recommendation-withdraw'"
                      class="badge badge-light-danger fs-8 fw-bolder"
                      >Geri Çekildi</span
                    >
                    <span
                      *ngSwitchCase="'sale'"
                      class="badge badge-light-success fs-8 fw-bolder"
                      >Yararlandı</span
                    >
                  </ng-container>

                </div>
                <span class="text-muted fw-bold text-muted d-block fs-7">
                  Geldiği Tarih: {{ item.createdAtFormatted }}
                  <ng-container *ngIf="this.appService.role === 'o'">
                  , Referans Olan: {{item.by?.createdBy?.name}}
                  </ng-container>
                  , Yol:
                  <ng-container *ngIf="item.source === 'la'">
                    Link
                  </ng-container>
                  <ng-container *ngIf="item.source === 'co'">
                    Telefon rehberi
                  </ng-container>
                </span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
<!-- begin::Body -->

<app-modal
  #modalRecommendation
  [modalConfig]="modalConfigRecommendation"
>
  <!-- begin::Body-->
  <div class="card-body">
    <div class="row mb-4">
      <label class="col-3 fw-bold text-muted">Adı Soyadı</label>

      <div class="col-9">
        <span class="fw-bolder fs-6 text-dark">{{recommendation ? recommendation.name: ''}}</span>
      </div>
    </div>

    <div class="row mb-4">
      <label class="col-3 fw-bold text-muted">Telefon</label>

      <div class="col-9 fv-row">
        <div>
          <div *ngIf="recommendation?.phoneNumberHidden" class="ml-10">
            <span class="fw-bold fs-6">{{recommendation ? recommendation.phoneNumber : ''}}</span>
          </div>
          <div *ngIf="!recommendation?.phoneNumberHidden" class="ml-10">
            <i class="fa-solid fa-phone"></i>
            <a (click)="phoneCall(recommendation ? recommendation.phoneNumber : '')">
              {{recommendation ? recommendation.phoneNumber : ''}}
            </a>
          </div>
        </div>
        <div class="fw-normal fs-8 text-muted" *ngIf="recommendation?.phoneNumberHidden">
          Telefon numarasının tamamı, başvuru kabul edildiğinde görünür
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <label class="col-3 fw-bold text-muted">Referans Olan</label>

      <div class="col-9 fv-row">
        <span class="fw-bold fs-6">{{recommendation ? recommendation.by?.createdBy.name : ''}}</span>
      </div>
    </div>

    <div class="separator separator-dashed mx-lg-5 mt-2 mb-6 mt-10"></div>

    <!-- begin::Timeline-->
    <div class="timeline-label">
      <!-- begin::Item-->
      <div class="timeline-item" *ngFor="let item of actions">
        <!-- begin::Label-->
        <div class="timeline-label fw-bolder text-gray-800 fs-6">
          {{ item.date }}
          <div class="timeline-label fw-normal fs-8 text-muted">
            {{ item.time }}
          </div>
        </div>
        <!-- end::Label-->
        <!-- begin::Badge-->
        <div class="timeline-badge">
          <i
            class="fa fa-genderless text-warning fs-1"
            *ngIf="item.action === 'recommendation' || item.action === 'first-recommendation'"
          ></i>
          <i
            class="fa fa-genderless text-danger fs-1"
            *ngIf="item.action === 'recommendation-invalidate' || item.action === 'recommendation-reject' || item.action === 'recommendation-decline' || item.action === 'recommendation-withdraw'"
          ></i>
          <i
            class="fa fa-genderless text-success fs-1"
            *ngIf="item.action === 'sale'"
          ></i>
        </div>
        <!-- end::Badge-->
        <!-- begin::Text-->
        <div class="fw-bolder timeline-content ps-3">
          {{ item.description }}
          <div class="fw-normal fs-8 text-muted">
            {{ item.detail }}
          </div>
        </div>
        <!-- end::Text-->
      </div>
      <!-- end::Item-->
    </div>
    <!-- end::Timeline-->
  </div>
  <!-- end: Card Body-->
</app-modal>

<app-modal #modalSale [modalConfig]="modalConfigSale">
  <form novalidate="" class="form" id="frmSales" [formGroup]="frmSales">
    <div class="card-body p-3">
      <ng-container *ngIf="hasError">
        <div class="mb-lg-15 alert alert-danger">
          <div class="alert-text font-weight-bold">
            İşlem yapılamadı. Lütfen formu tamamlayın.
          </div>
        </div>
      </ng-container>

      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6"
          ><span class="required">Hizmet Tutarı</span></label
        >
        <div class="col-lg-8 fv-row">
          <input
            type="number"
            class="form-control form-control-lg form-control-solid"
            formControlName="salesAmount"
          />
          <div class="form-text">
            KDV Hariç, TL
          </div>
        </div>
      </div>
    </div>
  </form>
</app-modal>

<app-modal #modalAccept [modalConfig]="modalConfigAccept">
  <form novalidate="" class="form" id="frmAccept" [formGroup]="frmAccept">
    <div class="card-body p-3">
      <ng-container *ngIf="hasError">
        <div class="mb-lg-15 alert alert-danger">
          <div class="alert-text font-weight-bold">
            İşlem yapılamadı. Lütfen formu tamamlayın.
          </div>
        </div>
      </ng-container>

      <div
        class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-9 p-6"
      >
        <div class="d-flex flex-stack flex-grow-1">
          <div class="fw-bold">
            <h4 class="text-gray-800 fw-bolder">Önemli Bilgilendirme</h4>
            <div class="fs-6 text-gray-600">
              Başvuruyu kabul ettiğinizde bu başvuruya eğer satış yapılırsa referans olan müşteriye hakediş hesaplanır.
              Lütfen telefon numarasını ve ismi kendi kayıtlarınızda kontrol edin. Aktif görüştüğünüz bir kişiyse kabul etmeyin.
              Referans olan kişi yaptığınız işlemden bildirimle haberdar edilir.

            </div>
          </div>
        </div>
      </div>
      <div class="form-check form-check-solid fv-row">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="approve"
          value="false"
          id="approve"
        /><label class="form-check-label fw-bold ps-2 fs-6 required" for="approve"
          >Okudum onaylıyorum</label
        >
      </div>
    </div>
  </form>
</app-modal>

<app-modal #modalDecline [modalConfig]="modalConfigDecline">
  <form novalidate="" class="form" id="frmDecline" [formGroup]="frmDecline">
    <div class="card-body p-3">
      <ng-container *ngIf="hasError">
        <div class="mb-lg-15 alert alert-danger">
          <div class="alert-text font-weight-bold">
            İşlem yapılamadı. Lütfen formu tamamlayın.
          </div>
        </div>
      </ng-container>

      <div
        class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-9 p-6"
      >
        <div class="d-flex flex-stack flex-grow-1">
          <div class="fw-bold">
            <h4 class="text-gray-800 fw-bolder">Önemli Bilgilendirme</h4>
            <div class="fs-6 text-gray-600">
              Başvuruyu reddettiğinizde artık bu başvuruya ulaşamazsınız.
              Referans eden kişi yaptığınız işlemden özel bildirimle haberdar edilir.
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</app-modal>


<app-modal #modalWithdraw [modalConfig]="modalConfigWithdraw">
  <form novalidate="" class="form" id="frmWithdraw" [formGroup]="frmWithdraw">
    <div class="card-body p-3">
      <ng-container *ngIf="hasError">
        <div class="mb-lg-15 alert alert-danger">
          <div class="alert-text font-weight-bold">
            İşlem yapılamadı. Lütfen formu tamamlayın.
          </div>
        </div>
      </ng-container>

      <div
        class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-9 p-6"
      >
        <div class="d-flex flex-stack flex-grow-1">
          <div class="fw-bold">
            <h4 class="text-gray-800 fw-bolder">Önemli Bilgilendirme</h4>
            <div class="fs-6 text-gray-600">
              Başvuruyu geri çektiğinizde artık işletme telefon numarasını göremez.
              İleride bu telefon numarasını tekrar eklenmesi mümkün olmaz.
              Yaptığınız işlemden işletme özel bildirimle anında haberdar edilir.
            </div>
          </div>
        </div>
      </div>
      <div class="form-check form-check-solid fv-row">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="approve"
          value="false"
          id="approve"
        /><label class="form-check-label fw-bold ps-2 fs-6 required" for="approve"
          >Okudum onaylıyorum</label
        >
      </div>
    </div>
  </form>
</app-modal>



<app-modal #modalValidate [modalConfig]="modalConfigValidate">
  <form novalidate="" class="form" id="frmValidate" [formGroup]="frmValidate">
    <div class="card-body p-3">
      <ng-container *ngIf="hasError">
        <div class="mb-lg-15 alert alert-danger">
          <div class="alert-text font-weight-bold">
            İşlem yapılamadı. Lütfen formu tamamlayın.
          </div>
        </div>
      </ng-container>

      <div
        class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-9 p-6"
      >
        <div class="d-flex flex-stack flex-grow-1">
          <div class="fw-bold">
            <h4 class="text-gray-800 fw-bolder">Önemli Bilgilendirme</h4>
            <div class="fs-6 text-gray-600">
              Başvuruyu kabul ettiğinizde bu başvuruya satış yapılırsa referans olan müşteri bir hakediş elde eder.
              Lütfen telefon numarasını ve ismi kendi kayıtlarınızda kontrol edin. Aktif görüştüğünüz bir kişiyse kabul etmeyin.
              Referans eden kişi yaptığınız işlemden özel bildirimle haberdar edilir.

            </div>
          </div>
        </div>
      </div>
      <div class="form-check form-check-solid fv-row">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="approve"
          value="false"
          id="approve"
        /><label class="form-check-label fw-bold ps-2 fs-6 required" for="approve"
          >Okudum onaylıyorum</label
        >
      </div>
    </div>
  </form>
</app-modal>

<app-modal #modalInvalidate [modalConfig]="modalConfigInvalidate">
  <form novalidate="" class="form" id="frmInvalidate" [formGroup]="frmInvalidate">
    <div class="card-body p-3">
      <ng-container *ngIf="hasError">
        <div class="mb-lg-15 alert alert-danger">
          <div class="alert-text font-weight-bold">
            İşlem yapılamadı. Lütfen formu tamamlayın.
          </div>
        </div>
      </ng-container>

      <div
        class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-9 p-6"
      >
        <div class="d-flex flex-stack flex-grow-1">
          <div class="fw-bold">
            <h4 class="text-gray-800 fw-bolder">Önemli Bilgilendirme</h4>
            <div class="fs-6 text-gray-600">
              Başvuruyu reddettiğinizde artık bu başvuruya ulaşamazsınız.
              Referans eden kişi yaptığınız işlemden özel bildirimle haberdar edilir.

            </div>
          </div>
        </div>
      </div>
      <div class="form-check form-check-solid fv-row">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="approve"
          value="false"
          id="approve"
        /><label class="form-check-label fw-bold ps-2 fs-6 required" for="approve"
          >Okudum onaylıyorum</label
        >
      </div>
    </div>
  </form>
</app-modal>
