
<div class="text-gray-500 text-center fw-semibold fs-6 mb-20">
  <a routerLink="/auth" class="link-primary">
    Geri
  </a>
</div>

<form class="form w-100" novalidate="novalidate" id="kt_login_signup_form" [formGroup]="form1"
  (ngSubmit)="submit()">
  <!--begin::Heading-->
  <div class="text-center mb-11">
    <!--begin::Title-->
    <h1 class="text-dark fw-bolder mb-3">
      {{accountName}}
    </h1>
    <!--end::Title-->

    <!--begin::Subtitle-->
    <div class="text-gray-500 fw-semibold fs-6">
      Bu işletmeyi çevrenizdekilere tavsiye ederek kolayca ek gelir elde edin
    </div>
    <!--end::Subtitle--->
  </div>
  <!--begin::Heading-->

  <!--begin::Login options-->
  <div class="row g-3 mb-9 flex-center" *ngIf="false">
    <!--begin::Col-->
    <div class="col-md-6">
      <!--begin::Google link--->
      <a href="#"
        class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
        <img alt="Logo" src="./assets/media/svg/brand-logos/google-icon.svg" class="h-15px me-3" />
        Google ile katılın
      </a>
      <!--end::Google link--->
    </div>
    <!--end::Col-->

    <!--end::Col-->
  </div>
  <!--end::Login options-->

  <!--begin::Separator-->
  <div class="separator separator-content my-14" *ngIf="false"><span class="w-125px text-gray-500 fw-semibold fs-7">veya</span></div>
  <!--end::Separator-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Kayıt yapılamadı
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <input class="form-control bg-transparent" type="text" name="firstName" formControlName="firstName"
      placeholder="Adınız" autocomplete="off" [ngClass]="{
        'is-invalid': form1.controls['firstName'].invalid,
        'is-valid': form1.controls['firstName'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Ad gerekli',
        control: form1.controls['firstName']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Adınız en az 3 harf olmalı',
        control: form1.controls['firstName']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Adınız en fazla 100 harf olmalı',
        control: form1.controls['firstName']
      }"></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <input class="form-control bg-transparent" type="text" name="lastName" formControlName="lastName"
      placeholder="Soyadınız" autocomplete="off" [ngClass]="{
        'is-invalid': form1.controls['lastName'].invalid,
        'is-valid': form1.controls['lastName'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Soyad gerekli',
        control: form1.controls['lastName']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Soyad en az 3 harfli olmalı',
        control: form1.controls['lastName']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Soyad en fazla 100 harfli olmalı',
        control: form1.controls['lastName']
      }"></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <input class="form-control bg-transparent" type="text" placeholder="Cep telefonu numarası" name="phoneNumber" formControlName="phoneNumber"
      autocomplete="off" [ngClass]="{
        'is-invalid': form1.controls['phoneNumber'].invalid,
        'is-valid': form1.controls['phoneNumber'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Cep telefonu gerekli',
        control: form1.controls['phoneNumber']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Cep telefonu en az 10 haneli olmalı',
        control: form1.controls['phoneNumber']
      }"></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <input class="form-control bg-transparent" type="password" placeholder="Password" name="password"
      formControlName="password" autocomplete="off" [ngClass]="{
        'is-invalid': form1.controls['password'].invalid,
        'is-valid': form1.controls['password'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Parola gerekli',
        control: form1.controls['password']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Parola en az 6 karakterli olmalı',
        control: form1.controls['password']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Parola en fazla 100 karakterli olmalı',
        control: form1.controls['password']
      }"></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <input class="form-control bg-transparent" type="password" placeholder="Confirm password" name="cPassword"
      autocomplete="off" formControlName="cPassword" [ngClass]="{
        'is-invalid': form1.controls['cPassword'].invalid,
        'is-valid': form1.controls['cPassword'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Parola doğrulaması gerekli',
        control: form1.controls['cPassword']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Parola doğrulama en az 6 karakterli olmalı',
        control: form1.controls['cPassword']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Parola doğrulaması en fazla 100 karakterli olmalı',
        control: form1.controls['cPassword']
      }"></ng-container>
    <ng-container *ngIf="
        form1.controls['cPassword'].errors &&
        form1.controls['cPassword'].errors.ConfirmPassword
      ">
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          Parola ve parola doğrulama uyuşmuyor
        </div>
      </div>
    </ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-check form-check-inline">
      <input id="kt_login_toc_agree" type="checkbox" formControlName="agree" name="agree" class="form-check-input" />
      <span for="kt_login_toc_agree" class="form-check-label fw-semibold text-gray-700 fs-base ms-1">
        Kaydolarak <a href="https://keenthemes.com/metronic/?page=faq" target="_blank"
          class="ms-1 link-primary">Kullanım Koşulları</a>'nı kabul ediyorum
      </span>
    </label>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-check form-check-inline">
      <input id="kt_login_optin_agree" type="checkbox" formControlName="optin" name="optin" class="form-check-input" />
      <span for="kt_login_optin_agree" class="form-check-label fw-semibold text-gray-700 fs-base ms-1">
        Fırsatlardan ve gelişmelerden haberdar edilmek istiyorum
      </span>
    </label>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="d-grid mb-10">
    <button type="submit" id="kt_sign_up_submit" [disabled]="
        form1.invalid || !form1.controls['agree'].value
      " class="btn btn-primary">
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">Devam</span>
      </ng-container>
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
    </button>
  </div>
  <!--end::Form group-->


</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </div>
  </ng-container>
</ng-template>
