
<!--begin::Heading-->
<div class="mb-11">
  <p class="pacifico-header text-center">
    Ek gelir fırsatı sunan avantajlar dünyasına hoşgeldiniz!
  </p>
  <!--begin::Subtitle-->
  <div class="text-center fw-semibold fs-4 mb-10 ">
      <div class="promotion"><i class="fa-solid fa-star"></i> Ayda 20.000TL'ye kadar kazanma fırsatı!</div>
      <div class="promotion"><i class="fa-solid fa-star"></i> Taahhüt yok, sözleşme yok</div>
      <div class="promotion"><i class="fa-solid fa-star"></i> Evden veya işyerinden</div>
      <div class="mt-10">
        Size bir teklifimiz var!
        Çevrenize referans olarak ek gelir elde etmek ister misiniz?
        Sizin referansınızla yapacağımız her satıştan size belli bir yüzde (%)
        üzerinden nakit ödeme yapacağız.
        Kazan-kazan modelini hemen deneyin:
      </div>
  </div>
  <!--end::Subtitle--->
  <!-- <div class="text-gray-400 fw-bold fs-4">
    New Here?
    <a
      routerLink="/auth/registration"
      id="kt_login_signup"
      class="link-primary fw-bolder"
      >{{ "AUTH.GENERAL.SIGNUP_BUTTON" | translate }}</a
    >
  </div> -->
</div>
<!--end::Heading-->

<div class="d-grid mb-10">

      <a routerLink="/auth/login" class="btn btn-primary">
        Başla
      </a>
  </div>



<div class="text-center">
  İşletmeniz mi var?
  <a class="fw-bold" routerLink="account/registration">
    Kaydolun
  </a>
</div>


<div class="text-center mt-10">
  Daha önce kaydoldunuz mu?
  <a class="fw-bold" routerLink="/auth/login">
    Giriş yapın
  </a>
</div>

