
<!--begin::Heading-->
<div class="text-center mb-11">
  <p class="text-dark fw-bolder mb-20 fs-5">
   TAVSİYEYLE YAYILAN KALİTE
  </p>
  <!--begin::Subtitle-->
  <div class="text-gray-500 fw-semibold fs-6 mb-10">
    {{ 'T.INTRO' | translate }}
  </div>

  <!--end::Subtitle--->
  <!-- <div class="text-gray-400 fw-bold fs-4">
    New Here?
    <a
      routerLink="/auth/registration"
      id="kt_login_signup"
      class="link-primary fw-bolder"
      >{{ "AUTH.GENERAL.SIGNUP_BUTTON" | translate }}</a
    >
  </div> -->
</div>
<!--end::Heading-->


<form class="form w-100" novalidate="novalidate" id="kt_login_signup_form" [formGroup]="form1"
  (ngSubmit)="submit()">

  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Doğrulama kodu geçerli değil. Lütfen büyük küçük harfi doğru girdiğinizden emin olun.
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Form group-->
  <div class="fv-row mb-8 text-center">

    <label class="form-label  fs-6">Doğrulama Kodu:</label>
    <input class="form-control bg-white text-center" type="number" name="invitationCode" formControlName="invitationCode"
      placeholder="* * * * * *" autocomplete="off" [ngClass]="{
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Doğrulama kodu gerekli',
        control: form1.controls['invitationCode']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'En az 4 haneli olmalı',
        control: form1.controls['invitationCode']
      }"></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="d-grid mb-10">
    <button type="submit" id="kt_sign_up_submit" [disabled]="
        form1.invalid
      " class="btn btn-primary">
      Devam >
      <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="this.appService.isLoading$ | async"></span>
    </button>
  </div>
  <!--end::Form group-->



</form>



<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </div>
  </ng-container>
</ng-template>


<div class="text-center">
  <div class="fw-semibold text-gray-500">İşletmen mi var?:</div>
  <a class="fw-bold" routerLink="account/registration">
    Kaydol
  </a>
</div>

<div class="separator separator-content my-14">
  <span class="w-125px text-gray-500 fw-semibold fs-7">{{ 'T.OR' | translate }}</span>
</div>


<!--
<ng-container *ngIf="!hasError">
  <div class="mb-10 bg-light-info p-8 rounded">
    <div class="text-info">
      Cep telefonu veya e-posta adresi giriniz
    </div>
  </div>
</ng-container>
-->


<div class=" text-center fs-6">
  <div class="fw-semibold text-gray-500">{{ 'T.ARE_YOU_REGISTERED' | translate }}:</div>
  <a routerLink="/auth/login" class="fw-bold">
    {{ 'T.LOGIN' | translate }}
  </a>
</div>
