
<!--begin::Heading-->
<div class="text-center mb-11">
  <p class="text-dark fw-bolder mb-20">
    <img alt="Logo" src="https://recommed.co/media/recommed/web-logo-colored-text.svg" class="h-30px" />
  </p>
  <!--begin::Subtitle-->
  <div class="text-gray-500 fw-semibold fs-6 mb-10">
    Kaliteli hizmetin kişisel tavsiyeyle yayıldığı kazan-kazan odaklı hizmet tanıtım platformu.
  </div>
  <div class="text-gray-500 fw-semibold fs-6">
    Kaydolmak için size uygun olanı seçin:
  </div>
  <!--end::Subtitle--->
  <!-- <div class="text-gray-400 fw-bold fs-4">
    New Here?
    <a
      routerLink="/auth/registration"
      id="kt_login_signup"
      class="link-primary fw-bolder"
      >{{ "AUTH.GENERAL.SIGNUP_BUTTON" | translate }}</a
    >
  </div> -->
</div>
<!--end::Heading-->

<!--begin::Login options-->
<div class="row g-3 mb-9">
  <!--begin::Col-->
  <div class="col-md-6">
    <!--begin::Google link--->
    <a routerLink="/auth/recommender/invitation"
    class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
      <i class="fas fa-user-alt text-dark"></i>
      Marka Elçileri
    </a>
    <!--end::Google link--->
  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-md-6">
    <!--begin::Google link--->
    <a routerLink="account/registration"
      class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
      <i class="fas fa-building text-dark"></i>
      İşletmeler
    </a>
    <!--end::Google link--->
  </div>
  <!--end::Col-->
</div>
<!--end::Login options-->

<div class="separator separator-content my-14">
  <span class="w-125px text-gray-500 fw-semibold fs-7">veya</span>
</div>
<!--end::Separator-->


<!--
<ng-container *ngIf="!hasError">
  <div class="mb-10 bg-light-info p-8 rounded">
    <div class="text-info">
      Cep telefonu veya e-posta adresi giriniz

        <button (click)="this.reloadPage()">YENİLE</button>
      <div>
        Firebase Token: {{this.getFirebaseToken()}}
      </div>
    </div>
  </div>
</ng-container>
-->


<div class="text-gray-500 text-center fw-semibold fs-6">
  Kayıtlı mısın?
  <a routerLink="/auth/login" class="link-primary">
    Giriş Yap
  </a>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
