<ng-template #modal>
  <div class="modal-content">
    <div class="modal-header">
      <!--begin::Modal title-->
      <h2>{{ modalConfig.title }}</h2>
      <!--end::Modal title-->
      <!--begin::Close-->
      <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="close()"
        *ngIf="!modalConfig.hideCloseButton">
        <i class="fa-solid fa-xmark"></i>
        <!--end::Svg Icon-->
      </div>
      <!--end::Close-->
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer">
      <ng-container *ngFor="let item of modalConfig.actions">
        <button type="button" class="btn"
          [class.btn-primary]="item.buttonClass === undefined || null"
          [class.btn-success]="item.buttonClass === 'success'"
          [class.btn-danger]="item.buttonClass === 'danger'"
          (click)="item.event()">
          {{item.title}}
        </button>
      </ng-container>
    </div>
  </div>
</ng-template>
