
<!--begin::Heading-->
<div class="text-center mb-11 p-10">
  <p class="pacifico-header" *ngIf="!this.phoneVerified">
    Tavsiyeyle yayılan mutluluk!
   </p>

  <p class="fw-bolder mb-10 fs-3" *ngIf="!this.phoneVerified">
    {{this.accountName}}
    <i class="fa-solid fa-certificate text-primary"></i>
  </p>
  <!--begin::Subtitle-->
  <div class="text-gray-500 fw-semibold fs-6 mb-10" *ngIf="!this.phoneVerified">
    Aldığınız hizmeti Recommed üzerinden tavsiye ederek çevrenize yardımcı olmak ister misiniz?
    Üstelik her tavsiyede sizi cazip ödüller bekliyor!
  </div>

    <!--begin::Form-->
    <form class="form" style="min-width: 250px;" [formGroup]="form1" novalidate="novalidate" id="kt_login_signin_form" *ngIf="!phoneVerified">


          <!-- begin::Alert error-->
          <ng-container *ngIf="hasError">
            <div class="mb-lg-15 alert alert-danger">
              <div class="alert-text font-weight-bold">
                {{'T.CAN_NOT_LOGIN' | translate}}
              </div>
            </div>
          </ng-container>
          <!-- end::Alert error-->


          <div *ngIf="this.phoneEntered">
            <div class="text-gray-500 text-center fw-semibold fs-6 mb-20">
              <a (click)="back()" class="link-primary">
                {{'T.BACK' | translate}}
              </a>
            </div>
          </div>


          <!--begin::Heading-->
          <div class="text-center mb-11">
            <b class="text-dark fw-bolder mb-3">
              Telefon Numaranız:
            </b>
          </div>
          <!--end::Heading-->

          <!--begin::Form group-->
          <div class="fv-row mb-4">
            <input class="form-control" type="tel" id="phoneNumberLogin" name="phoneNumber">
          </div>


          <!--begin::Action-->
          <div class="d-grid mb-10" *ngIf="!this.phoneEntered">
            <button type="button" (click)="sendVerificationCode()" id="kt_sign_in_submit" class="btn btn-primary" [disabled]="form1.invalid">
              Devam
              <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="this.appService.isLoading$ | async"></span>
            </button>
          </div>



        <div class="d-grid mb-3" *ngIf="this.phoneEntered">

          <input class="form-control" placeholder="Tek Kullanımlık SMS Şifre" type="number" pattern="\d*" name="verificationCode" autocomplete="off"
            formControlName="verificationCode" />

        </div>

        <!--begin::Action-->
        <div class="d-grid mb-10" *ngIf="this.phoneEntered">
          <button (click)="submit()" type="button" id="kt_sign_in_submit" class="btn btn-primary" [disabled]="form1.invalid">
            Devam
            <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="this.appService.isLoading$ | async"></span>
          </button>
        </div>

      <!--end::Form group-->




      <!--end::Action-->
    </form>
    <!--end::Form-->


</div>
<!--end::Heading-->

<!--begin::Login options-->
<div class="row g-3 mb-9 p-10" *ngIf="this.phoneVerified">
  <div class="text-center mb-11">
    <h2 class="text-dark fw-bolder mb-3">
      Başlamaya hazırsın!
    </h2>
  </div>
  <div class="fw-semibold fs-6 mb-10">
    Doktorunu tavsiye etmeye başlamak için hemen sana uygun uygulamayı kur:
  </div>

    <!--begin::Col-->
  <div class="col-md-6">
    <!--begin::Google link--->
    <a href="https://play.google.com/store/apps/details?id=com.hk.recommed"
    class="btn btn-flex btn-primary bg-state-light flex-center text-nowrap w-100 fs-5">
      <i class="fa-brands fa-google-play fa-solid fs-1"></i>
      Google Play
    </a>
    <!--end::Google link--->
  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-md-6">
    <!--begin::Google link--->
    <a href="https://apps.apple.com/tr/app/recommed/id6468917213"
    class="btn btn-flex btn-primary bg-state-light flex-center text-nowrap w-100 fs-5">
      <i class="fa-brands fa-app-store-ios fa-solid fs-1"></i>
      AppStore
    </a>
    <!--end::Google link--->
  </div>
  <!--end::Col-->
</div>
<!--end::Login options-->

