<img *ngIf="this.account?.serviceImage && !this.phoneEntered && !this.phoneVerified" class="w-100" [src]="this.account?.serviceImage" />

<!--begin::Heading-->
<div class="text-center p-10">

  <div *ngIf="!this.phoneEntered && !this.phoneVerified">

    <div *ngIf="this.account?.logo">
      <img [src]="this.account?.logo" class="h-55px mb-10">
    </div>
    <p *ngIf="!this.account?.logo" class="fw-bolder mb-10 fs-3">
      {{this.account?.name}}
      <i class="fa-solid fa-certificate text-primary"></i>
    </p>
    <div *ngIf="this.account?.team">
      <img [src]="this.account?.team" class="h-75px mb-10">
    </div>
    <p class="pacifico-header" style="font-size: 24px !important;">
      Referans Programımıza Hoşgeldiniz!
    </p>
    <div class="fw-semibold fs-6 mb-10 mt-10" *ngIf="!this.phoneVerified">
      Sizin referansınızla bize
      başvuran tanıdıklarınız özel avantajlara sahip olurken siz her işlem için
      teşvik ödemesi alabilirsiniz!
      Referansınızla başvuran kişilere sunulacak avantajlar:
    </div>

      <div class=" fw-semibold fs-6 mb-5">

      </div>
      <div *ngFor="let item of promotions">
        <div>
          <div class="promotion"><i class="fa-solid fa-star"></i> {{item}}</div>
        </div>
      </div>

      <div class=" fw-semibold fs-6 mb-5 mt-5">
        Size Sunulan Fırsatlar:
      </div>
      <div *ngFor="let item of rewards">
        <div>
          <div class="promotion"><i class="fa-solid fa-star"></i> {{item}}</div>
        </div>
      </div>

    </div>

    <!-- begin::Alert error-->
    <ng-container *ngIf="error">
      <div class="mb-lg-15 alert alert-danger">
        <div class="alert-text font-weight-bold">
          {{error}}
        </div>
      </div>
    </ng-container>
    <!-- end::Alert error-->

    <!--begin::Form-->
    <form class="form" class="text-start" style="min-width: 250px;" [formGroup]="form1" novalidate="novalidate" id="kt_login_signin_form" *ngIf="!phoneVerified">



          <div *ngIf="this.phoneEntered">
            <div class=" text-center fw-semibold fs-6 mb-20">
              <a [href]="this.router.url" class="link-primary">
                {{'T.BACK' | translate}}
              </a>
            </div>
          </div>

          <div class=" mt-10 mb-11" *ngIf="!this.phoneEntered">
            <b class="text-dark text-center mb-3 fs-3">
              Bilgi İçin Formu Doldurun:
            </b>
          </div>

          <div class="fv-row mb-4" *ngIf="!this.phoneEntered">
            <input class="form-control" type="tel" id="phoneNumberLogin" name="phoneNumber">
          </div>

          <div class="fv-row mb-8" *ngIf="!this.phoneEntered">
            <input class="form-control" type="text" name="firstName" formControlName="firstName"
              placeholder="Adınız" autocomplete="off" />
          </div>

          <div class="fv-row mb-8" *ngIf="!this.phoneEntered">
            <input class="form-control" type="text" name="lastName" formControlName="lastName"
              placeholder="Soyadınız" autocomplete="off" />
          </div>

          <div class="fv-row mb-8" *ngIf="!this.phoneEntered">
            <label class="form-check form-check-inline">
              <input id="kt_login_toc_agree" type="checkbox" formControlName="agree" name="agree" class="form-check-input"/>
              <span for="kt_login_toc_agree" class="form-check-label text-gray-700">
              Yasal olarak zorunlu olan <a  href="https://recommed.co/privacy.php?webview" target="_blank">Kişisel Verilerin Korunması Kanunu (KVKK)</a> aydınlatma
              metnini ve <a href="https://recommed.co/terms.php?webview" target="_blank">Kurallar ve Koşullar</a> metnini okudum ve kabul ediyorum

              </span>
              <ng-container [ngTemplateOutlet]="error" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Lütfen onaylayın',
                control: form1.controls['agree']
              }"></ng-container>
            </label>
          </div>




          <div class="d-grid mb-10" *ngIf="!this.phoneEntered">
            <button type="button" (click)="sendVerificationCode()" id="kt_sign_in_submit" class="btn btn-primary" [disabled]="form1.invalid">
              Devam
              <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="this.appService.isLoading$ | async"></span>
            </button>
          </div>



        <div class="d-grid mb-3" *ngIf="this.phoneEntered">

          <input class="form-control" placeholder="Tek Kullanımlık SMS Şifre" type="number" pattern="\d*" name="verificationCode" autocomplete="off"
            formControlName="verificationCode" />

        </div>

        <!--begin::Action-->
        <div class="d-grid mb-10" *ngIf="this.phoneEntered">
          <button (click)="submit()" type="button" id="kt_sign_in_submit" class="btn btn-primary" [disabled]="form1.invalid">
            Başla
            <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="this.appService.isLoading$ | async"></span>
          </button>
        </div>

      <!--end::Form group-->




      <!--end::Action-->
    </form>
    <!--end::Form-->


</div>
<!--end::Heading-->

<!--begin::Login options-->
<div class="row g-3 mb-9 p-10" *ngIf="this.phoneVerified">
  <div class="text-center mb-20">
    <div *ngIf="this.account?.logo">
      <img [src]="this.account?.logo" class="h-55px mb-10">
    </div>
    <p *ngIf="!this.account?.logo" class="fw-bolder mb-10 fs-3">
      {{this.account?.name}}
      <i class="fa-solid fa-certificate text-primary"></i>
    </p>
  </div>

    <h2 class="text-dark text-center fw-bolder mb-3">
      Uygulamayı indirerek kazanmaya başlayabilirsiniz!
    </h2>


  <div class="fw-semibold fs-6 mb-10 text-center">
    Son bir aşama kaldı. Mobil uygulamayı indirip yönlendirmelere uyarak kolayca kazanmaya başlayabilirsiniz:
  </div>

  <div *ngIf="false">
    <div>
      <input class="form-control bg-transparent mb-5" readonly="readonly" [value]="this.recommendationUrl">
    </div>
    <div>
      <span style="color: green; font-weight: bold;" *ngIf="this.copied">Link kopyalandı!</span>
    </div>
    <a (click)="copy();" href="javascript:;" class="btn btn-primary mb-10"><b>Kopyala</b></a>
  </div>


  <div>
    <div class="col-md-6 mb-6" *ngIf="this.appService.mobile === 'android' || this.appService.mobile === null">
      <a href="https://play.google.com/store/apps/details?id=com.hk.recommed"
      class="btn btn-flex btn-primary flex-center text-nowrap w-100 fs-5">
        <i class="fa-brands fa-google-play fa-solid fs-1"></i>
        Uygulamayı İndir
      </a>
    </div>

    <div class="col-md-6" *ngIf="this.appService.mobile === 'ios' || this.appService.mobile === null">
      <a href="https://apps.apple.com/tr/app/recommed/id6468917213"
      class="btn btn-flex btn-primary flex-center text-nowrap w-100 fs-5">
        <i class="fa-brands fa-app-store-ios fa-solid fs-1"></i>
        Uygulamayı İndir
      </a>
    </div>

  </div>
</div>
<!--end::Login options-->

