<ng-container id="sssss" *ngIf="showToolbar">

  <ng-container *ngIf="appToolbarFilterButton">
    <!--begin::Filter menu-->
    <div class="m-0">
      <!--begin::Menu toggle-->
      <a href="#" class="btn btn-sm btn-flex fw-bold" [ngClass]="daterangepickerButtonClass" data-kt-menu-trigger="click"
        data-kt-menu-placement="bottom-end">
        <app-keenicon name="filter" class="fs-6 text-muted me-1"></app-keenicon>
        Filter1
      </a>
      <!--end::Menu toggle-->

      <app-dropdown-menu1></app-dropdown-menu1>
    </div>
    <!--end::Filter menu-->
  </ng-container>


  <ng-container *ngIf="appToolbarDaterangepickerButton">
    <div data-kt-daterangepicker="true" data-kt-daterangepicker-opens="left"
      class="btn btn-sm fw-bold  d-flex align-items-center px-4" [ngClass]="daterangepickerButtonClass">
      <!--begin::Display range-->
      <div class="text-gray-600 fw-bold">
        Loading date range...
      </div>
      <!--end::Display range-->
      <app-keenicon name="calendar-8" class="fs-1 ms-2 me-0"></app-keenicon>
    </div>
  </ng-container>

  <a class="btn btn-sm fw-bold btn-info" data-bs-toggle="modal"
    data-bs-target="#kt_modal_create_app" *ngIf="this.appService.role === 'r' && this.appService.recommenderJourneyStep === 1"

    (click)="openModalRecommenderVideo()">
    <i class="fa-solid fa-circle-play"></i>
    Videoyu İzle
  </a>


  <a class="btn btn-sm fw-bold btn-primary" data-bs-toggle="modal"
    *ngIf="this.appService.role !== 'r' || this.appService.recommenderJourneyStep >= 2"
    data-bs-target="#kt_modal_create_app"

    (click)="openModalRecommender()">
    <i class="fa-solid fa-share-nodes"></i>
    Paylaş
  </a>

  <app-modal #modalRecommenderVideo [modalConfig]="modalConfigRecommenderVideo">
    <div class="row g-3 mb-9 flex-center">
      <div class="col-md-4">
        <iframe width="100%" height="300" src="https://www.youtube.com/embed/ZO4eb5qrNYg?si=5PvliO8dbZaE_NAV" title="Referans Programımıza Hoşgeldiniz" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </app-modal>

  <app-modal #modalRecommender [modalConfig]="modalConfigRecommender">

    <ng-container *ngIf="this.appService.currentUserValue?.role === 'o' || this.appService.currentUserValue?.role === 'u'">

      <div class="row g-3 mb-5 flex-center">
        <div class="col-md-12">
          <span class="d-flex justify-content-between align-items-center text-nowrap w-100">
            <span class="fs-4 fw-bold badge badge-light-primary">Referans Sağlaması İçin Davet Edin</span>
          </span>
          <div class="text-muted mt-5">
            Ek gelir elde etmek isteyen müşterinizi Referans Programı'na davet edin.
          </div>
        </div>
      </div>

      <div class="row g-3 mb-9 flex-center">
        <div class="col-md-4">
          <div class="fs-6 rounded d-flex justify-content-between align-items-center text-nowrap w-100 text-success fw-bold"
          [ngStyle]="{ visibility: this.copiedProvider ? 'visible' : 'hidden' }">
            Kopyalandı!
          </div>
        </div>
        <div class="col-md-4">
          <div class="p-4 fs-6 rounded d-flex justify-content-between align-items-center text-nowrap w-100"
          style=" white-space: nowrap;
          overflow: hidden;
          background: #f0f0f0;
          text-overflow: ellipsis;"
          (click)="btnCopyProviderClick()">
            <span class="fs-1x">{{this.urlInvite}}</span>
          </div>
        </div>

        <div class="col-md-4">
          <a class="btn btn-primary d-flex justify-content-between align-items-center text-nowrap w-100" (click)="btnCopyProviderClick()">
            <span class="fs-1x">Linki Kopyala</span>
            <i class="fa-solid fa-copy fs-3"></i>
          </a>
        </div>

        <div class="col-md-4">
          <a class="btn btn-primary d-flex justify-content-between align-items-center text-nowrap w-100" (click)="btnShareProviderClick()">
            <span class="fs-1x">Linki Paylaş</span>
            <i class="fa-solid fa-share-nodes fs-3"></i>
          </a>
        </div>

        <div class="col-md-4" *ngIf="false">
          <a class="btn btn-primary d-flex justify-content-between align-items-center text-nowrap w-100" (click)="btnWhatsappProviderClick()">
            <span class="fs-1x">Whatsapp</span>
            <i class="fa-brands fa-whatsapp fs-3"></i>
          </a>
        </div>

        <div class="col-md-3">
          <a class="btn btn-primary d-flex justify-content-between align-items-center text-nowrap w-100" (click)="btnQRInviteClick()">
            <span class="fs-1x">Kare Kod Olarak Göster</span>
            <i class="fa-solid fa-qrcode fs-3"></i>
          </a>
        </div>

      </div>

      <div class="row g-3 mb-9 flex-center">
        <div class="col-md-12">
          <div class="text-muted">
            Eğer bir müşteriniz link üzerinden değil doğrudan AppStore veya Google Play üzerinden uygulamayı kurarsa kaydolurken
            aşağıdaki işletme kodunu girmelerini isteyin. Bu sayede sizin işletmenizle eşleşirler:
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <span class="d-flex justify-content-between align-items-center text-nowrap w-100 mb-15">
          <span class="fs-5 fw-bold">İşletme Kodunuz: {{this.invitationCode}}</span>
        </span>
      </div>
  </ng-container>

  <div class="row g-3 flex-center">
      <div class="col-md-12">
        <span class="d-flex justify-content-between align-items-center text-nowrap w-100">
          <span class="fs-4 fw-bold badge badge-light-success">Referans Ol Kazan: <span class="badge badge-light-success fs-4 fw-bold">%{{this.appService.currentUserValue?.salesRewardPercentage ?? this.appService.currentUserValue?.account?.salesRewardPercentage}}</span></span>
        </span>
        <div class="text-muted mt-5">
          Hizmet almaları için çevrenize referans olun.
          Aşağıdaki yöntemlerden istediğinizi kullanabilirsiniz. Sizin referansınızla yapılan
          işlemlerde her tahsilattan size anlaşılan oranda ödeme yapılır.
          <div class="mt-4">

          </div>
        </div>
      </div>
    </div>

    <div class="row g-3 mb-9 flex-center">
      <div class="col-md-4">
        <div class="fs-6 rounded d-flex justify-content-between align-items-center text-nowrap w-100 text-success fw-bold"
        [ngStyle]="{ visibility: this.copiedRecommender ? 'visible' : 'hidden' }">
          Kopyalandı!
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-4 fs-6 rounded d-flex justify-content-between align-items-center text-nowrap w-100"
        style=" white-space: nowrap;
        overflow: hidden;
        background: #f0f0f0;
        text-overflow: ellipsis;"
        (click)="btnCopyRecommenderClick()">
          <span class="fs-1x">{{this.urlRecommend}}</span>
        </div>
      </div>


      <div class="col-md-3">
        <a class="btn btn-primary d-flex justify-content-between align-items-center text-nowrap w-100" (click)="btnCopyRecommenderClick()">
          <span class="fs-1x">Linki Kopyala</span>
          <i class="fa-solid fa-copy fs-3"></i>
        </a>
      </div>


      <div class="col-md-3">
        <a class="btn btn-primary d-flex justify-content-between align-items-center text-nowrap w-100" (click)="btnShareRecommenderClick()">
          <span class="fs-1x">Linki Paylaş</span>
          <i class="fa-solid fa-share-nodes fs-3"></i>
        </a>
      </div>

      <div class="col-md-3" *ngIf="false">
        <a class="btn btn-primary d-flex justify-content-between align-items-center text-nowrap w-100" (click)="btnWhatsappRecommenderClick()">
          <span class="fs-1x">Whatsapp ile Link Gönder</span>
          <i class="fa-brands fa-whatsapp fs-3"></i>
        </a>
      </div>

      <div class="col-md-3">
        <a class="btn btn-primary d-flex justify-content-between align-items-center text-nowrap w-100" (click)="btnQRRecommendClick()">
          <span class="fs-1x">Kare Kod Olarak Göster</span>
          <i class="fa-solid fa-qrcode fs-3"></i>
        </a>
      </div>

      <!--
      <div class="col-md-3">
        <a class="btn btn-secondary d-flex justify-content-between align-items-center text-nowrap w-100" (click)="btnSelectContactsClick()">
          <span class="fs-1x">Telefon Rehberim'den Numara Gönder</span>
          <i class="fa-solid fa-address-book fs-3"></i>
        </a>
      </div>
      -->
    </div>

  </app-modal>


  <app-modal #modalQrRecommend [modalConfig]="modalConfigQrRecommend">
    <div class="row g-3 mb-9 flex-center">
      <div class="col-md-4 text-center">

        <qrcode [qrdata]="urlRecommend" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>

        <div class="text-muted mt-5">
          Çevrenizdekiler bu kare kodu telefon kamerasına okutursa, sizin aracılığınızda <b>{{this.appService.currentUserValue?.account?.name}}</b> adlı işletmeye ulaştığı kayıt altına alınır.
        </div>

      </div>
    </div>
  </app-modal>

  <app-modal #modalQrInvite [modalConfig]="modalConfigQrInvite">
    <div class="row g-3 mb-9 flex-center">
      <div class="col-md-4 text-center">

        <qrcode [qrdata]="urlInvite" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>


      </div>
    </div>
  </app-modal>


</ng-container>
