<ng-container id="sssss" *ngIf="showToolbar">

  <ng-container *ngIf="appToolbarFilterButton">
    <!--begin::Filter menu-->
    <div class="m-0">
      <!--begin::Menu toggle-->
      <a href="#" class="btn btn-sm btn-flex fw-bold" [ngClass]="daterangepickerButtonClass" data-kt-menu-trigger="click"
        data-kt-menu-placement="bottom-end">
        <app-keenicon name="filter" class="fs-6 text-muted me-1"></app-keenicon>
        Filter1
      </a>
      <!--end::Menu toggle-->

      <app-dropdown-menu1></app-dropdown-menu1>
    </div>
    <!--end::Filter menu-->
  </ng-container>


  <ng-container *ngIf="appToolbarDaterangepickerButton">
    <div data-kt-daterangepicker="true" data-kt-daterangepicker-opens="left"
      class="btn btn-sm fw-bold  d-flex align-items-center px-4" [ngClass]="daterangepickerButtonClass">
      <!--begin::Display range-->
      <div class="text-gray-600 fw-bold">
        Loading date range...
      </div>
      <!--end::Display range-->
      <app-keenicon name="calendar-8" class="fs-1 ms-2 me-0"></app-keenicon>
    </div>
  </ng-container>

  <a class="btn btn-sm fw-bold btn-info" data-bs-toggle="modal"
    data-bs-target="#kt_modal_create_app" *ngIf="this.appService.role === 'r' && this.appService.recommenderJourneyStep === 1"

    (click)="openModalRecommenderVideo()">
    <i class="fa-solid fa-circle-play"></i>
    Videoyu İzle
  </a>


  <a class="btn btn-sm fw-bold btn-primary" data-bs-toggle="modal"
    *ngIf="this.appService.role !== 'r' || this.appService.recommenderJourneyStep >= 2"
    data-bs-target="#kt_modal_create_app"

    (click)="openModalRecommender()">
    <i class="fa-solid fa-share-nodes"></i>
    Tavsiye Et
  </a>

  <app-modal #modalRecommenderVideo [modalConfig]="modalConfigRecommenderVideo">
    <div class="row g-3 mb-9 flex-center">
      <div class="col-md-4">

        <iframe width="100%" height="300" src="https://www.youtube.com/embed/bLS5jgL3Pw4?si=1l0MICH2fy4agbHp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </app-modal>

  <app-modal #modalRecommender [modalConfig]="modalConfigRecommender">
    <div class="row g-3 mb-9 flex-center">
      <div class="col-md-12">
        <span class="d-flex justify-content-between align-items-center text-nowrap w-100">
          <span class="fs-4 fw-bold badge badge-light-success">Tavsiye Et Kazan</span>
        </span>
        <div class="text-muted mt-5">
          Hizmet almaları için çevrenize tavsiye edin.
          Aşağıdaki yöntemlerden istediğinizi kullanabilirsiniz. Sizin tavsiyenizle yapılan
          işlemlerde her tahsilattan size anlaşılan oranda ödeme yapılır. Oranınız:
          <div class="mt-4">
            <span class="badge badge-light-success fs-4 fw-bold">%{{this.appService.currentUserValue?.salesRewardPercentage ?? this.appService.currentUserValue?.account?.salesRewardPercentage}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-3 mb-9 flex-center">
      <div class="col-md-3">
        <a class="btn btn-secondary d-flex justify-content-between align-items-center text-nowrap w-100" (click)="btnShareRecommenderClick()">
          <span class="fs-1x">Link Paylaş</span>
          <i class="fa-solid fa-share-nodes fs-3"></i>
        </a>
      </div>

      <div class="col-md-3" *ngIf="false">
        <a class="btn btn-secondary d-flex justify-content-between align-items-center text-nowrap w-100" (click)="btnWhatsappRecommenderClick()">
          <span class="fs-1x">Whatsapp ile Link Gönder</span>
          <i class="fa-brands fa-whatsapp fs-3"></i>
        </a>
      </div>

      <div class="col-md-3">
        <a class="btn btn-secondary d-flex justify-content-between align-items-center text-nowrap w-100" (click)="btnQRRecommendClick()">
          <span class="fs-1x">Kare Kod Göster</span>
          <i class="fa-solid fa-qrcode fs-3"></i>
        </a>
      </div>

      <!--
      <div class="col-md-3">
        <a class="btn btn-secondary d-flex justify-content-between align-items-center text-nowrap w-100" (click)="btnSelectContactsClick()">
          <span class="fs-1x">Telefon Rehberim'den Numara Gönder</span>
          <i class="fa-solid fa-address-book fs-3"></i>
        </a>
      </div>
      -->
    </div>

    <ng-container *ngIf="this.appService.currentUserValue?.role === 'o' || this.appService.currentUserValue?.role === 'u'">

        <div class="row g-3 mb-9 flex-center">
          <div class="col-md-12">
            <span class="d-flex justify-content-between align-items-center text-nowrap w-100">
              <span class="fs-4 fw-bold mt-10 badge badge-light-primary">Marka Elçiliğine Davet Et</span>
            </span>
            <div class="text-muted mt-5">
              Memnun müşterilerinizin çevresine tavsiye etmesi için bu seçeneği kullanın.
              Bu kişiler işletmenin Marka Elçisi olurlar.
            </div>
          </div>
        </div>

        <div class="row g-3 mb-9 flex-center">
          <div class="col-md-4">
            <a class="btn btn-secondary d-flex justify-content-between align-items-center text-nowrap w-100" (click)="btnShareProviderClick()">
              <span class="fs-1x">Link Paylaş</span>
              <i class="fa-solid fa-share-nodes fs-3"></i>
            </a>
          </div>

          <div class="col-md-4" *ngIf="false">
            <a class="btn btn-secondary d-flex justify-content-between align-items-center text-nowrap w-100" (click)="btnWhatsappProviderClick()">
              <span class="fs-1x">Whatsapp</span>
              <i class="fa-brands fa-whatsapp fs-3"></i>
            </a>
          </div>

          <div class="col-md-3">
            <a class="btn btn-secondary d-flex justify-content-between align-items-center text-nowrap w-100" (click)="btnQRInviteClick()">
              <span class="fs-1x">Kare Kod Göster</span>
              <i class="fa-solid fa-qrcode fs-3"></i>
            </a>
          </div>

        </div>




        <div class="row g-3 mb-9 flex-center">
          <div class="col-md-12">
            <span class="d-flex justify-content-between align-items-center text-nowrap w-100">
              <span class="fs-4 fw-bold mt-10 badge badge-light">Doğrudan Mobil Uygulamayı İndirenler</span>
            </span>
            <div class="text-muted mt-5">
              Memnun müşterileriniz mobil uygulamayı AppStore veya Google Play'den indirip bu kodu
              onları girdiklerinde işletmenizle işleştirmeniz gerekir.
              Böylece sizin Marka Elçiniz olurlar. Yaptıkları tüm tavsiyeler size akar! Onlara kayıt esnasında aşağıdaki kodu girmelerini söyledin:
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <span class="d-flex justify-content-between align-items-center text-nowrap w-100">
            <span class="fs-5 fw-bold">İşletme Kodunuz: {{this.invitationCode}}</span>
          </span>
          <div class="text-muted mt-5">
          </div>
        </div>
    </ng-container>

  </app-modal>


  <app-modal #modalQrRecommend [modalConfig]="modalConfigQrRecommend">
    <div class="row g-3 mb-9 flex-center">
      <div class="col-md-4 text-center">

        <qrcode [qrdata]="urlRecommend" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>

        <div class="text-muted mt-5">
          Çevrenizdekiler bu kare kodu telefon kamerasına okutursa, sizin aracılığınızda <b>{{this.appService.currentUserValue?.account?.name}}</b> adlı işletmeye ulaştığı kayıt altına alınır.
        </div>

      </div>
    </div>
  </app-modal>

  <app-modal #modalQrInvite [modalConfig]="modalConfigQrInvite">
    <div class="row g-3 mb-9 flex-center">
      <div class="col-md-4 text-center">

        <qrcode [qrdata]="urlInvite" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>


      </div>
    </div>
  </app-modal>


</ng-container>
