<form
  class="form w-100"
  novalidate="novalidate"
  [formGroup]="form1"
  (ngSubmit)="submit()"
  id="kt_login_password_reset_form"
>
  <!--begin::Heading-->
  <div class="text-center mb-10">
    <!--begin::Title-->
    <h1 class="text-dark fw-bolder mb-3">
        Parolanızı Resetleyin
    </h1>
    <!--end::Title-->

    <!--begin::Link-->
    <div class="text-gray-500 fw-semibold fs-6">
        Lütfen yeni parolanızı belirleyin
    </div>
    <!--end::Link-->
</div>
<!--begin::Heading-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="errorState === errorStates.HasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Parola değiştirilemedi
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <ng-container *ngIf="errorState === errorStates.NotSubmitted">
    <div class="mb-10 bg-light-info p-8 rounded">
      <!--begin::Body-->
      <div class="text-info">Lütfen gönderdiğimiz SMS veya e-postadaki kodu girin</div>
      <!--end::Body-->
    </div>
  </ng-container>

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-gray-900 fs-6">Doğrulama Kodu</label>
    <input
      class="form-control bg-transparent"
      type="text"
      formControlName="code"
      placeholder="Doğrulama kodu"
      name="code"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': form1.controls['code'].invalid,
        'is-valid': form1.controls['code'].valid
      }"
    />

    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Doğrulama kodu gerekli',
        control: form1.controls['code']
      }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minLength',
        message: 'Doğrulama kodu 6 haneli olmalı',
        control: form1.controls['code']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Doğrulama kodu 6 haneli olmalı',
        control: form1.controls['code']
      }"
    ></ng-container>
  </div>


  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-dark fs-6">Yeni parolanız</label>
    <input class="form-control bg-transparent" type="password" placeholder="Parola" name="password"
      formControlName="password" autocomplete="off" [ngClass]="{
        'is-invalid': form1.controls['password'].invalid,
        'is-valid': form1.controls['password'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Parola gerekli',
        control: form1.controls['password']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Parola en az 6 karakterli olmalı',
        control: form1.controls['password']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Parola en fazla 100 karakterli olmalı',
        control: form1.controls['password']
      }"></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-dark fs-6">Yeni Parolanız (Doğrulama)</label>
    <input class="form-control bg-transparent" type="password" placeholder="Parola (tekrar)" name="cPassword"
      autocomplete="off" formControlName="cPassword" [ngClass]="{
        'is-invalid': form1.controls['cPassword'].invalid,
        'is-valid': form1.controls['cPassword'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Parola doğrulaması gerekli',
        control: form1.controls['cPassword']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Parola doğrulama en az 6 karakterli olmalı',
        control: form1.controls['cPassword']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Parola doğrulaması en fazla 100 karakterli olmalı',
        control: form1.controls['cPassword']
      }"></ng-container>
    <ng-container *ngIf="
        form1.controls['cPassword'].errors &&
        form1.controls['cPassword'].errors.ConfirmPassword
      ">
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          Parola ve parola doğrulama uyuşmuyor
        </div>
      </div>
    </ng-container>
  </div>
  <!--end::Form group-->




  <!--end::Form group-->
  <!--begin::Form group-->
  <div class="d-flex flex-wrap justify-content-center pb-lg-0">
    <button
      type="submit"
      id="kt_password_reset_submit"
      class="btn btn-primary me-4"
    >
      <span class="indicator-label">Kaydet</span>
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress">
          Lütfen bekleyin...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </ng-container>
    </button>
    <a
      routerLink="/auth/login"
      id="kt_login_password_reset_form_cancel_button"
      class="btn btn-light"
    >
      Vazgeç
    </a>
  </div>
  <!--end::Form group-->
</form>
<!--end::Form-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">{{ message }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>
