<ng-container *ngIf="hasError">
  <div class="mb-lg-15 alert alert-danger">
    <div class="alert-text font-weight-bold">
      Kaydedilemedi. Lütfen formu kontrol edip tekrar deneyin.
    </div>
  </div>
</ng-container>
<style>
  #kt_app_toolbar{
    display: none !important;
  }
</style>
<div class="card mb-5 mb-xl-10">
  <div
    class="card-header border-0 cursor-pointer"
    role="button"
    data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details"
    aria-expanded="true"
    aria-controls="kt_account_profile_details"
  >
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Profilim</h3>
    </div>
  </div>
  <div id="kt_account_profile_details" class="collapse show">
    <form novalidate="" class="form" [formGroup]="form1">
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
            >Ad</label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              formControlName="firstName"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
            >Soyad</label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              formControlName="lastName"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">Cep Telefon No</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="tel"
              class="form-control form-control-lg form-control-solid"
              formControlName="phoneNumber"
            />
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button
          type="button"
          class="btn btn-primary"
          (click)="save()"
        >
          Kaydet
            <span clas="indicator-progress" *ngIf="this.appService.isLoading$ | async">
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="card mb-5 mb-xl-10">
  <div
    class="card-header border-0 cursor-pointer"
    role="button"
    data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details"
    aria-expanded="true"
    aria-controls="kt_account_profile_details"
  >
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Account Deletion</h3>
    </div>
  </div>
  <div id="kt_account_profile_details" class="collapse show">
    <form novalidate="" class="form" [formGroup]="form1">
      <div class="card-body border-top p-9">
        Hesabınızı silmek isterseniz aşağıdaki düğmeye tıklayın. Tüm bilgileriniz silinir.
        Bu işlemin geri dönüşü yoktur. Düğmeye tıkladığınızda ikinci kez onay almadan silme işlemi anında gerçekleşir.
        Dikkatli olun.
      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button
          type="button"
          class="btn btn-danger"
          (click)="delete()"
        >
          Hesabımı Sil
            <span clas="indicator-progress" *ngIf="this.appService.isLoading$ | async">
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
      </div>
    </form>
  </div>
</div>
