<img class="mx-auto w-100 w-md-50 w-xl-500px" src="assets/media/misc/dentist.png"
alt="" />

<div class="p-15">

  <form class="form w-100" novalidate="novalidate" id="kt_login_signup_form" [formGroup]="form1"
  (ngSubmit)="submit()">
  <!--begin::Heading-->
    <div class="text-center mb-11">

      <div class="text-gray-500 fw-semibold fs-6">
        Tavsiye Eden:
      </div>
      <p class="text-dark fw-bolder mb-5 fs-3">
        {{recommenderName}}
      </p>

      <div class="text-gray-500 fw-semibold fs-6 mb-5">
        Kazanacağınız Avantaj:
      </div>

      <div class="text-center fw-semibold fs-4 mb-10 ">
        <div style="
        display: inline-block;
        padding: 7px 10px;
        background: #a3faff;
        color: black;
        font-size: 13px; margin-bottom: 9px;
    "><i class="fa-solid fa-star" style="color: black;"></i> Ücretsiz kapsamlı muayene hakkı</div>
        <div style="
        display: inline-block;
        padding: 7px 10px;
        background: #a3faff;
        color: black;
        font-size: 13px; margin-bottom: 9px; display: none;
    "><i class="fa-solid fa-star" style="color: black;"></i> Tüm hizmetlerde %10 indirim</div>

      <div style="margin-top: 10px;">
        Yüksek müşteri memnuniyetine sahip kliniğimiz,
        tavsiyeyle ulaşan hastalarımıza özel avantajlar sunuyor. Hizmet alımı zorunlu değildir.
        Bilgi almak için numaranızı bırakabilirsiniz:.
      </div>

    </div>
    </div>
    <!--begin::Heading-->

    <!-- begin::Alert error-->
    <ng-container *ngIf="error">
      <div class="mb-lg-15 alert alert-danger">
        <div class="alert-text font-weight-bold">
          {{error}}
        </div>
      </div>
    </ng-container>
    <!-- end::Alert error-->

    <!--begin::Form group-->
    <div class="fv-row mb-8">
      <input class="form-control" type="text" name="name" formControlName="name"
        placeholder="Adınız Soyadınız" autocomplete="off" />

    </div>
    <!--end::Form group-->

    <div class="fv-row mb-8">
      <input class="form-control" type="tel" id="phoneNumber" name="phoneNumber">
    </div>

    <div class="d-grid mb-10">
      <button type="submit" id="kt_sign_up_submit" class="btn btn-primary">
          Ücretsiz Bilgi Al
          <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="this.appService.isLoading$ | async"></span>
      </button>
    </div>


  </form>

  <ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          <span role="alert">
            {{ message }}
          </span>
        </div>
      </div>
    </ng-container>
  </ng-template>

</div>
