

<ng-container *ngIf="error">
  <div class="mb-lg-15 alert alert-danger">
    <div class="alert-text font-weight-bold">
      {{error}}
    </div>
  </div>
</ng-container>

<form class="form" style="min-width: 250px;" [formGroup]="form1" novalidate="novalidate" >
      <div *ngIf="!this.phoneEntered">
            <div class="text-gray-500 text-center fw-semibold fs-6 mb-20">
              <a routerLink="/auth" class="link-primary">
                {{'T.BACK' | translate}}
              </a>
            </div>

            <div class="text-center mb-11">
              <h1 class="text-dark fw-bolder mb-3">
                Giriş
              </h1>
            </div>

            <div class="fv-row mb-10">
              <input class="form-control" type="tel" id="phoneNumberLogin" name="phoneNumber">
            </div>

            <div class="d-grid" *ngIf="!this.phoneEntered">
              <button type="button" (click)="sendLoginVerificationCode()" id="kt_sign_in_submit" class="btn btn-primary" [disabled]="form1.invalid">
                Devam
                <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="this.appService.isLoading$ | async"></span>
              </button>
            </div>
      </div>


      <div *ngIf="this.phoneEntered && !this.loginVerificationCodeEntered">
            <div class="text-gray-500 text-center fw-semibold fs-6 mb-20">
              <a href="auth/login" class="link-primary">
                {{'T.BACK' | translate}}
              </a>
            </div>

            <div class="text-center mb-11">
              <h1 class="text-dark fw-bolder mb-3">
                Cep Telefonu Kontrolü
              </h1>
            </div>

            <input class="form-control mb-10" placeholder="Tek Kullanımlık SMS Şifre" type="number" pattern="\d*" name="loginVerificationCode" autocomplete="off"
            formControlName="loginVerificationCode" />

            <div class="d-grid">
              <button type="button" (click)="submit();" class="btn btn-primary" [disabled]="form1.invalid">
                {{'T.LOGIN' | translate}}
                <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="this.appService.isLoading$ | async"></span>
              </button>

            </div>
      </div>

      <div *ngIf="this.loginVerificationCodeEntered">
        <div class="text-gray-500 text-center fw-semibold fs-6 mb-20">
          <a href="auth/login" class="link-primary">
            {{'T.BACK' | translate}}
          </a>
        </div>

        <div class="text-center mb-11">
          <h1 class="text-dark fw-bolder mb-3">
            Doğrulama
          </h1>
        </div>

        <input class="form-control mb-10" placeholder="Doğrulama Kodu" type="number" pattern="\d*" name="invitationCode" autocomplete="off"
        formControlName="invitationCode" *ngIf="!this.invitationCode" />

        <input class="form-control mb-10" placeholder="Adınız" type="text" name="firstName" autocomplete="off"
        formControlName="firstName" />

        <input class="form-control mb-10" placeholder="Soyadınız" type="text" name="lastName" autocomplete="off"
        formControlName="lastName" />


        <div class="fv-row mb-10">
          <label class="form-check form-check-inline">
            <input id="kt_login_optin_agree" type="radio" formControlName="sex" value="m" class="form-check-input" />
            <span for="kt_login_optin_agree" class="form-check-label fw-semibold text-gray-700 fs-base ms-1">
              Erkek
            </span>
          </label>
          <label class="form-check form-check-inline">
            <input id="kt_login_optin_agree" type="radio" formControlName="sex" value="f" class="form-check-input" />
            <span for="kt_login_optin_agree" class="form-check-label fw-semibold text-gray-700 fs-base ms-1">
              Kadın
            </span>
          </label>
        </div>



        <div class="d-grid">
          <button type="button" (click)="loginWithInvitationCode();" class="btn btn-primary" [disabled]="form1.invalid">
            {{'T.LOGIN' | translate}}
            <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="this.appService.isLoading$ | async"></span>
          </button>

        </div>

      </div>


</form>



