.iti {
  display: block !important;
  width: 100% !important;
}
body{
  display: none;
}
:host {
  width: 100%;
  @media (min-width: 992px) {
    .iti {
      border: red($color: #000000);
    }
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}
