
<div class="text-gray-500 text-center fw-semibold fs-6 mb-20">
  <a routerLink="/auth" class="link-primary">
    Geri
  </a>
</div>

<form class="form w-100" novalidate="novalidate" id="kt_login_signup_form" [formGroup]="form1"
  (ngSubmit)="submit()">
  <!--begin::Heading-->
  <div class="text-center mb-11">
    <!--begin::Title-->
    <h1 class="text-dark fw-bolder mb-3">
      Doğrulama Kodu
    </h1>
    <!--end::Title-->

    <!--begin::Subtitle-->
    <div class="text-gray-500 fw-semibold fs-6">
      Lütfen hizmet aldığınız işletmenin paylaştığı doğrulama kodunu giriniz
    </div>
    <!--end::Subtitle--->
  </div>
  <!--begin::Heading-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Doğrulama kodu geçerli değil. Lütfen büyük küçük harfi doğru girdiğinizden emin olun.
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <input class="form-control bg-transparent" type="text" name="invitationCode" formControlName="invitationCode"
      placeholder="Doğrulama kodu" autocomplete="off" [ngClass]="{
        'is-invalid': form1.controls['invitationCode'].invalid,
        'is-valid': form1.controls['invitationCode'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Doğrulama kodu gerekli',
        control: form1.controls['invitationCode']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Doğrulama kodu en az 4 haneli olmalı',
        control: form1.controls['invitationCode']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Doğrulama kodu en fazla 4 haneli',
        control: form1.controls['invitationCode']
      }"></ng-container>
  </div>
  <!--end::Form group-->


  <!--begin::Form group-->
  <div class="d-grid mb-10">
    <button type="submit" id="kt_sign_up_submit" [disabled]="
        form1.invalid
      " class="btn btn-primary">
      Devam
      <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="this.appService.isLoading$ | async"></span>
    </button>
  </div>
  <!--end::Form group-->

  <div class="text-gray-500 fw-semibold fs-6">
    Uygulamayı kullanarak Kurallar ve Koşulları kabul etmiş olursunuz.
  </div>

</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </div>
  </ng-container>
</ng-template>
